html {
    min-height: 100%;
}

body {
    background-image: url("../images/hiddenlake.jpeg"); 
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav h1 {
    padding-left: 15px;
    padding-top: 15px;
}

nav a {
    color: whitesmoke;
    font-size: large;
    padding-right: 15px;
    padding-top: 15px;
}

.cards {
    display: flex;
    padding: 15px;
}